#productsMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#productsMenu ul li { padding-left: 14px }
#productsMenu ul li a:visited { color: #444 }
#productsMenu ul li a:hover { color: #D7438C; text-decoration: none; margin-left: -2px }
#productsMenu ul li a { color: #444; padding-left: 6px }
#productsMenu ul li a.active { border-left: 3px solid #D7438C; color: #D7438C; font-weight: bold }
#productsMenu ul li a.expanded { color: #D7438C; font-weight: bold }
