body {
    font-family: 'Droid Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li { padding-left: 14px }
ul li a:visited { color: #FF69B4 }
ul li a:hover { border-left: 3px solid #D7438C; color: #D7438C }
ul li a { color: #FF69B4; padding-left: 6px }
ul li a.active { border-left: 3px solid #D7438C; color: #D7438C; font-weight: bold }
