<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{ISO8601,Europe/Prague} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EMIAPP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%date{ISO8601,Europe/Prague} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>/var/log/emiapp/emiapp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/emiapp/emiapp.%d{yyyy-MM}.log</fileNamePattern>
            <maxHistory>12</maxHistory>
        </rollingPolicy>
    </appender>

    <!--<appender name="UIAPP" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
        <!--<file>/var/log/emiapp/emiapp_ui.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>/var/log/emiapp/emiapp_ui.%d{yyyy-MM}.log</fileNamePattern>-->
            <!--<maxHistory>12</maxHistory>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->

    <!--<logger name="com.xeppaka.emi.ui" level="info">-->
        <!--<appender-ref ref="UIAPP" />-->
    <!--</logger>-->

    <root level="info">
        <appender-ref ref="EMIAPP" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
